<%= simple_form_for(@user, url: user_path(@user)) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.input :name, required: true, autofocus: true, input_html: { name: 'user[name]' } %>
      <%= f.input :gender, collection: User::GENDER, prompt: 'Please Select Gender', name: 'user[name]', input_html: { class: 'form-control', name: 'user[gender]' } %>
      <%= f.input :phone, required: true, autofocus: true, input_html: { name: 'user[phone]' } %>
    </div>
  </div>
  <%= f.button :submit, class: 'btn btn-primary btn-fill' %>
<% end %>
