<%= simple_form_for(@school) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.input :name, label: 'School Name', required: true %>
      <h3>School Admin Details</h3>
      <%= f.simple_fields_for :school_admin do |sa| %>
      	<%= sa.input :email, required: true, autofocus: true %>
	      <%= sa.input :name, required: true, autofocus: true %>
	      <%= sa.input :gender, collection: User::GENDER, prompt: 'Please Select Gender', input_html: { class: 'form-control' } %>
	      <%= sa.input :phone, required: true, autofocus: true %>
      <% end %>
      <h3>School Address Details</h3>
      <%= f.simple_fields_for :address do |add| %>
        <%= add.input :line_1, required: true, autofocus: true %>
        <%= add.input :line_2,  autofocus: true %>
        <%= add.input :city, required: true, autofocus: true %>
        <%= add.input :state, required: true, autofocus: true %>
        <%#= add.input :country, required: true, autofocus: true %>
        <%= add.input :pincode, required: true, autofocus: true %>
      <% end %>
    </div>
  </div>
  <%= f.button :submit, class: 'btn btn-primary btn-fill' %>
<% end %>
